* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-gray);
  color: var(--dark-gray);
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}